@{
    Layout = "_Layout";
}
@model User

<link rel="stylesheet" href="~/css/profile.css" />

<div class="container">
    <div class="card">
        <img src="/images/myPC-homeBG.jpg" alt="User" class="card__image">
        <p class="card__name">@Model.UserName's Profile</p>
        <p>Email: @Model.Email</p>
        <div class="grid-container">
            <div class="grid-child-posts">
                Highest Score:
            </div>
            <div class="grid-child-followers">
                Achievements Earned:
            </div>
        </div>
        <button class="btn draw-border">Back</button>
        <button class="btn draw-border">Edit</button>
    </div>

    <h3>Scores</h3>

    @if (Model.Scores.Any())
    {
        <ul>
            @foreach (var score in Model.Scores)
            {
                <li>@score.ScoreValue</li>
            }
        </ul>
    }
    else
    {
        <p>No scores to display.</p>
    }
</div>
