@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Unity WebGL Player | Rhythm Game Web App</title>
        <link rel="shortcut icon" href="~/unity/TemplateData/favicon.ico">
        <link rel="stylesheet" href="~/unity/TemplateData/style.css">
        <link rel="stylesheet" href="~/unity/TemplateData/nav.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="nav">
            <input type="checkbox">
            <span></span>
            <span></span>
            <div class="menu">
                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                <li>|</li>
                <li><a href="https://github.com/O-Bernal/CSI293---Capstone-Project">github</a></li>
                <li>|</li>
            <li><a id="sign-in-button" href="#">sign in</a></li>
            </div>
        </div>

        @inject UserManager<User> UserManager
        @{
            var user = await UserManager.GetUserAsync(User);
        }
        @if (user != null)
        {
            <div class="user-badge">
                Hello, @user.UserName!
                <button onclick="location.href='@Url.Action("Logout", "User")'">Logout</button>
            </div>
        }

        <div id="login-modal" class="modal">
            <div class="form-structor">
                <div class="signup">
                    <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
                    <!-- Wrapped the form-holder with a form tag pointing to the UserController Create action -->
                    <form id="signup-form" method="post" action="/User/Create">
                        <div class="form-holder">
                            <input type="text" class="input" placeholder="Name" name="NewUsername" />
                            <input type="email" class="input" placeholder="Email" name="NewEmail" />
                            <input type="password" class="input" placeholder="Password" name="NewPassword" />
                        </div>
                        <div id="signup-message"></div>
                        <button class="submit-btn">Sign up</button>
                    </form>
                </div>
                <div class="login slide-up">
                    <div class="center">
                        <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                        <!-- Wrapped the login-form with a form tag pointing to the UserController Login action -->
                        <form id="login-form" method="post" action="/User/Login">
                            <div class="form-holder">
                                <input type="text" class="input" placeholder="Email or Username" name="UsernameOrEmail" />
                                <input type="password" class="input" placeholder="Password" name="UserPassword" />
                            </div>
                            <div id="login-message"></div>
                            <button type="submit" class="submit-btn">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas" width=960 height=600></canvas>
            <div id="unity-loading-bar">
                <div id="unity-logo"></div>
                <div id="unity-progress-bar-empty">
                    <div id="unity-progress-bar-full"></div>
                </div>
                <button id="startButton">Start Game</button>
            </div>
            <div id="unity-warning"> </div>
            <div id="unity-footer">
                <div id="unity-webgl-logo"></div>
                <div id="unity-fullscreen-button"></div>
                <div id="unity-build-title">Melody Rider | Alpha build</div>
            </div>
        </div>

        <script src="~/js/GameIndexScripts.js"></script>
    </body>
</html>
